@import "~office-ui-fabric-react/dist/sass/References.scss";

.employeeForm {
  font-family: 'Poppins', sans-serif !important;
  .spinner {
    left:50%;
    right:0;
    margin:0 auto;
    text-align: center;
    z-index: 999;
    top: 55%;
    position: fixed;
    width: 100%;
    // margin-left: 20%;
  }

  .errors {
    margin: 0.5rem 0;
    color: red;

    > span {
      display: block;
      font-size: 0.8rem !important;
    }
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    position: relative;
  }
  .container {
    max-width: 100%;
    margin: 0px auto;
    //background-color: #f3f2f1;
    //   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    }

  .row {
    @include ms-Grid-row;
    // @include ms-fontColor-white;
    // background-color: $ms-color-themeDark;
   // background-color: #f3f2f1;
    color: #000;
    font-weight: 600;
    padding: 20px;
  }
  .rowhr {
    @include ms-Grid-row;
    // @include ms-fontColor-white;
    // background-color: $ms-color-themeDark;
   // background-color: #f3f2f1;
    color: #000;
    font-weight: 600;
    padding: 20px;
    padding-bottom: 0px!important;
    padding-top: 0px;
  }
  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }
  .marginb {
    margin-bottom: 7px !important;
  }
  .dropdowncustom {
    margin-bottom: 7px !important;
    height: 32px !important;
    width: 100% !important;
  }
  .dropdowncustomhr {
    margin-bottom: 7px !important;
    height: 32px !important;
  //  width: 450px !important;
  width: 100% !important;
  }
  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: black;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system,
      BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
      color: black !important;
      background-color: black;
    }
    .ms-Button-label label-167 {
      color: black !important;
    }
  }
  .ms-Pivot {
    margin-left: -8px !important;
  }
  // .Pivotbutton button.ms-Button {
  //   width: 16% !important;
  // }

  .submitbutton {
    background: rgb(63, 81, 182) !important;
    color: #fff !important;
    min-width: 80px;
    text-decoration: none;
    height: 32px;
    border: none;
    float: right;
    margin-right:0;
    margin-top: 48px;
    //margin-right: 9px;
  }
  .marginb input.ms-TextField-field {
    width: 280px;
  }
  .Pivotbutton button.ms-Button{
    background: #f00!important;
  }
  .addressblk span{
    font-size: 18px;
    margin-bottom: 20px;
    display: block;
    padding-left: 8px;
  }
  .addressblk span button{
    margin-left: 10px;
  }
  .addressblk{
    padding-bottom: 0 !important;
  }

  .passportblk{
    margin-top: 15px;
  }
  .passportblk table th span{
    font-size: 18px;
    margin-bottom: 20px;
    display: block;
    
  }
  .passportblk table th span button{
    margin-left: 10px;
  }
  .addbtn{
    background: #18B449;
    border: none;
    color: #fff;
  }
  .removebtn{
    background: #EC1C4B;
    border: none;
    color: #fff;
  }
  .childdetailsec{
    margin-bottom: 15px;
  }
  .childdetailsec span{
    margin-bottom: 15px;
    font-size: 16px;
  }
  .childdetailsec table tr td{
    padding-bottom: 10px;
  }
  input:not([type]), 
  input[type=email], 
  input[type=file], 
  input[type=password], 
  input[type=text], 
  select, 
  textarea{
    width: 100%;
    margin-bottom: 1px;
    margin-left: 1px;
  }
  .padding0{
    padding: 0px !important;
  }
  .orgdetailslabel{
    margin-bottom: 5px;
    width: 100%;
    //min-height: 43px;
    display: table-cell;
    margin-top: 15px;
    vertical-align: middle;
    height: 43px;
  }
  table tr td label{
    white-space: nowrap;
    vertical-align: top;
    display: block;
    }

}
